@model Onboard.Web.UI.Models.DatabaseViewModels.VendorsViewModel

@if (Model.VendorId != 0)
{
    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
            <div class="ibox-content">
                <h2>@Model.CompanyName</h2>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td class="project-title">
                                Address:
                            </td>
                            <td class="project-title">
                                @Model.AddressLine1
                                <br />
                                @Model.City, @Model.State @Model.Zip
                            </td>
                        </tr>
                        <tr>
                            <td class="project-title">
                                Tax Id:
                            </td>
                            <td class="project-title">
                                @Model.TaxId
                            </td>
                        </tr>
                        <tr>
                            <td class="project-title">
                                Contact:
                            </td>
                            <td class="project-title">
                                @Model.ContactName
                                <br />
                                @Model.ContactEmail
                                <br />
                                @Model.ContactPhone Ext: @Model.ContactExtn
                            </td>
                        </tr>
                        <tr>
                            <td class="project-title">
                                Active Consultants:
                            </td>
                            <td class="project-title">
                                @Model.SignatoryName
                                <br />
                                @Model.SignatoryEmail
                                <br />
                                @Model.SignatoryPhone Ext: @Model.SignatoryExtn
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}