@model IEnumerable<Onboard.Web.UI.Models.HRViewModels.CandidateViewModel>
<div class="project-list">
    <table class="table table-hover">
        <tbody>
            @foreach (var candidate in Model)
            {
                <tr pk-id="@candidate.EnrollmentId" can-id="@candidate.CandidateId">
                    <td class="project-title">
                        @candidate.CandidateName
                        <br />
                        <small>@candidate.DateString</small>
                    </td>
                    <td class="project-title">
                        @candidate.VendorString
                    </td>
                    <td class="project-title">
                        <span class="@candidate.TimeColor">
                            @candidate.TimeEllapsed
                        </span>
                    </td>
                    <td class="project-title">
                        &nbsp;
                    </td>
                    <td class="project-completion">
                        &nbsp;
                    </td>
                    <td class="project-actions">
                        <a href="#" class="btn btn-white btn-sm" action="view-candidate"><i class="fa fa-folder"></i> View </a>
                        <a href="#" class="btn btn-white btn-sm" action="enrollment-assign">
                            <i class="fa fa-arrow-right"></i> Assign
                        </a>
                        <a href="#" class="btn btn-primary btn-sm" candiate-details="@candidate.CandidateName" data-toggle="modal" data-target="#Modal-Accept" action="PendingCandidate-Accept">
                            <i class="fa fa-download"></i> Accept 
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
